<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link text-center">
        <span class="brand-text font-weight-light">HR and PayRoll</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <li class="nav-item">
                    <a href="/information" class="nav-link">
                        <i class="nav-icon fas fa-align-justify"></i>
                        <p>
                            Information
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/hrmanagement" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            HR Management
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/alerts" class="nav-link">
                        <i class="nav-icon fas fa-bell"></i>
                        <p>
                            Alerts
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>